:root{
    --bgcolor:#ffdb58;
    --orange-color: rgb(252, 115, 65);
    --delivery-background: rgb(255, 243, 239);
    --grey-color: rgb(245, 243, 243);
}
@font-face {
    font-family: 'montserratbold';
    src: url('Montserratfont/montserrat-bold-webfont.woff2') format('woff2'),
         url('Montserratfont/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('Montserratfont/montserrat-regular-webfont.woff2') format('woff2'),
         url('Montserratfont/montserrat-regular-webfont.woff') format('woff');
}
body{
    margin: 0;
    padding: 3em;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'montserratregular', Arial, Helvetica, sans-serif;
}
#nav-bar{
    display: flex;
    justify-content:space-evenly;
    padding: 1em .1em;
    margin-top: .5em;
}
#nav-bar img{
    width: 1.7em;
    /* display: none; */
}
#nav-bar p{
    font-weight: bold;
    font-size: .9em;
}
#section-1{
    background-color: #fff;
    margin: 3em;
    padding: 1em;
    border-radius: 1.2em 0em 0em 1.2em;
}
.search{
    border: none;
    background-color: var(--grey-color);
    height: 2.7em;
    border-radius: 1.2em;
    font-size: .7em;
    padding: 1em;
    margin-top: .4em;
}
#delivery-days{
    background-color: var(--delivery-background);
    display: flex;
    justify-content: space-around;
    margin: 1.5em .2em;
    border-radius: 1.2em;
    padding: .5em;
    height: 10em;
}
#delivery-days h2{
font-size: .8em;
color: var(--orange-color);
margin-top: 2em;
margin-left: -2.3em;
font-family: 'montserratbold';
}
.delivery-p1{
    font-size: .6em;
    margin-left: -3em;
    color: rgb(128, 125, 125);
}
.delivery-p2{
    font-size: .55em;
    color: var(--orange-color);
    margin-top: 15em;
    font-family: 'montserratbold';
}
.delivery-man{
    width: 7em;
    margin: 2rem;
    margin-left: -.3em;
    margin-bottom: -1em;
}
.arrow{
    width: 1em;
}
#restaurant-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#restaurant-header button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 14em;
    font-size: .7em;
    padding: 1.5em;
    border: none;
    border-radius: 2em;
    background-color: var(--orange-color);
    color: white;
}
#restaurant-header button img{
    width: 1.4em;
    margin: .4em;
    margin-top: -.8em;
}
#restaurant-header button span{
    font-weight: bold;
}
#restaurant-header button p{
    margin-top: -.5em;
}
#menu-options{
    display: flex;
    flex-wrap: wrap;
    padding: .6em;
    margin-bottom: 1.7em;
    /* justify-content: center; */
}
#menu-options div{
    margin-right: .9em;
    background-color: white;
}
.all p{
    background-color: var(--bgcolor);
}
#menu-options p{
    padding: .7em;
    border-radius: 1.2em;
    text-align: center;
    box-shadow: 2px 3px 4px 3px antiquewhite;
    font-size: .6em;
    font-family: 'montserratbold', arial;
}
#menu-options img{
    display: none;
}
#food-images{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.bagel-pic, .pizza-pic, .sandwich-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#food-images .food-picture{
    border-radius: 1.3em;
}
#food-images .food-span{
    font-size: .7em;
    width: 6em;
    font-family: 'montserratbold', arial;
    background-color: rgb(248, 245, 245);
    padding: 1em;
    margin-top: -3em;
    border-radius: 0 1.2em 0 1.2em;
}
.pizza-info, .bagel-info, .sandwich-info{
display: flex;
justify-content: flex-start;
align-items: center;
}
.pizza-info img, .bagel-info img, .sandwich-info img{
width: .9em;
height: .9em;
margin-bottom: 3.8em;
}
.food-caption{
    font-family: 'montserratregular', arial;
    font-weight: bold;
}
.pizza-info span, .bagel-info span, .sandwich-info span{
margin-right: 2em;
font-size: .7em;
margin-bottom: 5em;
color:grey ;
}
.pizza-info .rating, .bagel-info .rating, .sandwich-info .rating{   
    font-weight: bold;
    color: black;
    margin-left: .2em;
}
/* section 2 styling */

#section-2{
    background-color: var(--grey-color);
    border-radius: 0 1.2em 1.2em 0;
    margin: 3em;
    padding: 1em;
}
.user-profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
}
.user-profile img{
    width: 1.2em;
    margin-right: 1em;
}
.user-profile span{
    font-size: .7em;
    font-weight: bold;
    background-color: var(--bgcolor);
    margin-right: 1em;
    padding: .8em 1em;
    border-radius: 37%;
}
#section-2 h3{
    margin: 2em 1em 2em 1em;
    font-family: 'montserratbold', arial;
}
#section-2 .purple-box{
    background-color: rgb(119, 14, 199);
    margin: 0 1.5em 4em 1.5em;
    padding: 1.5em;
    font-size: .72em;
    border-radius: 1.2em;
}
#section-2 .address{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 1.3em;
}
#section-2 .order-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}
#section-2 .order-time img{
    width: 1.2em;
    background-color: var(--bgcolor);
    padding: .5em;
    border-radius: 37%;
    opacity: .6;
    margin-right: .5em;
}
#section-2 .house-number{
    color: white;
}
#section-2 .address-edit{
    color: var(--bgcolor);
}
#section-2 .time{
    color: white;
    margin-right: 2em;
}
#section-2 .choose-time{
    color: var(--bgcolor);
}
.burger-detail, .fries-detail, .cheese-detail, .delivery-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: .7em;
    font-family: 'montserratbold', Arial, Helvetica, sans-serif;
}
.order-details span{
    font-family: 'montserratregular', Arial, Helvetica, sans-serif;
}
.order-details img{
    width: 4em;
    height: 2.5em;
    border-radius: .6em;
}
.burger-detail .bbq{
    margin-left: -1.6em;
}
.cheese-detail span{
    margin-left: -1em;
}
.delivery-detail img{
    background-color: var(--bgcolor);
    opacity: .5;
}
.delivery-detail span{
    margin-left: 4.9em;
}
.burger-detail span, .fries-detail span, .cheese-detail span, .delivery-detail span{
    color: rgb(179, 167, 167);;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5em 1.3em 0 1.5em;
}
.total span{
    color: rgb(49, 47, 47);
    font-weight: bold;
}
.total p{
    font-family: 'montserratbold';
    font-size: 1.3em;
}
.total-underline{
    width: 97%;
    height: .12em;
    background-color: rgb(231, 230, 230);
    margin-left: 1.5em;
    margin-top: -.6em;
    margin-bottom: 1.8em;
}
#checkout div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em -1em 1em 2em;
}
#checkout span{
    font-family: 'montserratbold', arial;
    font-size: .7em;
    margin-left: 2.4em;
    color: rgb(49, 47, 47);
} 
#checkout .quantity{
    height: 2.3em;
    width: 5.2em;
    border: 1px solid rgb(231, 230, 230);
    border-radius: .7em;
    font-weight: bold;
    padding: .7em;
}
#checkout .next-page{
    background-color: var(--bgcolor);
    height: 2em;
    width: 10em;
    border: none;
    border-radius: .7em 0 0 .7em;
    padding: 1.8em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#checkout img{
    width: 1.3em;
    height: 1.5em;
    margin-top: -1.5em;
}
#checkout .next-page p{
    font-weight: bold;
    font-size: 1em;
    margin-right:1em;
    margin-top: -.8em;
}

/* media queries */
@media only screen and (min-width:1100px){
    body{
        padding: 2em;
        justify-content:center;
        flex-wrap: nowrap;
    }
    #nav-bar{
        justify-content:space-between;
        align-items: center;
        margin: .9em .8em;
    }
    #nav-bar p{
        font-size: 1.2em;
        margin-left: -1.1em;
        font-family: 'montserratbold';
    }
    #section-1{
        margin: 3em 0 3em 3em;
        padding: 1em 3.5em;
    }
    .search{
        width: 47em;
        height: 3.5em;
        font-size: .7em;
        padding: 1.2em;
    }
    #delivery-days h2{
    font-size: 1.3em;
    margin-top: 2.6em;
    }
    .delivery-p1{
        font-size: .7em;
        margin-left: -4em;
        margin-top: -1em;
    }
    .delivery-p2{
        font-size: .6em;
        margin-top: 13em;
    }
    #restaurant-header{
        justify-content: space-between;
        flex-direction: row;
    }
    #restaurant-header h2{
        font-family: 'montserratbold';
    }
    #restaurant-header button{
        margin-top: 2em;
        position: relative;
        left: -.5em ;
        padding: 1.5em;
    }
    #menu-options{
        display: flex;
        flex-wrap: nowrap;
    }
    #menu-options div{
        width: 1.8em;
        height: 4.5em;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        margin-right: 1.3em;
        background-color: white;
        padding: .9em;
        border-radius: 2em;
        box-shadow: 2px 3px 4px 3px var(--grey-color);
    }
    #menu-options .all{
        background-color: var(--bgcolor);
        border-radius: 2em;
    }
    #menu-options p{
        padding: 0em;
        box-shadow: 0px 0px 0px 0px;
        text-align: center;
        font-size: .5em;
    }
    #menu-options img{
        display: inline-block;
        width: 1.4em;
        background-color: white;
        border: 1px solid var(--grey-color);
        border-radius: 50%;
        padding: .8em;
        margin-top: -1em;
    }
    #menu-options .next{
        background-color: var(--grey-color);
        width: 1.2em;
        height: 1.1em;
        padding: .4em;
        border-radius: 37%;
        margin-top: 3em;
        position: relative;
        left: 3em;
        box-shadow: 0px 0px 0px 0px;
    }
    #menu-options .next img{
        width: .9em;
        padding: 0;
        background-color: var(--grey-color);
        margin-top: .1em;
    }
    #food-images{
    flex-direction: row;
    margin-top: 2em;
    }
    #food-images .food-picture{
        width: 13em;
        height: 6.5em;
        margin: 1em;
    }
    #food-images .food-span{
        margin: -4.4em 0 1em 1.32em;
    }
    .pizza-info, .bagel-info, .sandwich-info{
        margin-left: 1em;
    }

    .pizza-info img, .bagel-info img, .sandwich-info img{
    width: .8em;
    height: .7em;
    }
    .food-caption{
        margin-top: -.2em;
        margin-left: 1em;
        font-size: .9em;
    }
    /* section 2 styling */
    
    #section-2{
        margin: 3em 3em 3em 0;
        border-left: 1px solid var(--grey-color);
    }
    .user-profile{
        margin-top: 3em;
    }
    #section-2 h3{
        margin: 2.5em 1em 2em 1em;
    }
    #checkout img{
        margin-top: .4em;
    }
    #checkout .next-page p{
        margin-top: .9em;
    }

    /* hover effects for desktop */
    #menu-options div:hover{
        cursor: pointer;
        background-color: var(--bgcolor); transition: .3s;
    }
    
}
/* hover effects */
#restaurants button:hover{
    cursor: pointer;
    background-color: var(--bgcolor); transition: 2s;
    color: black; transition: 2s;
}

#menu-options p:hover{
    cursor: pointer;
    background-color: var(--bgcolor); transform: .3s
   
}
#menu-options .all p:hover{
    background-color: white;
}
#food-images .food-picture:hover{
    cursor: pointer;
    border: 2px solid var(--bgcolor);transition: .1s;
}
#checkout .quantity:hover{
    cursor: pointer;
    background-color: var(--bgcolor);
    border: 2px solid black;
}
#checkout .next-page:hover{
    cursor: pointer;
    font-size: .85em;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    ;
}